 <!DOCTYPE html>
<html>
<body>
 

    <div class="row">
 <div class="col-sm-12" style="background-color:lightgray;">> 

<h2>Tell Us News</h2>


  <%= render 'form' %>

 
    </div></div>
  
</body>
</html>    
    