<!DOCTYPE html>
<html>
<body>
     <div class="row">
 <div class="col-sm-12" style="background-color:lightgray;">
<p id="notice"><%= notice %></p>




<%= link_to 'Back', robs_path %>

</div></div>
</body>
</html>   
