<div class="row">
 <div class="col-sm-12" style="background-color:lightgray;">
<p id="notice"><%= notice %></p>


<h1>Categories</h1>

<% for category in @categories do %>
    <%= link_to category.name, category %>
<% end %>

<%= link_to 'New Category', new_category_path %>
</div></div>